
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{--bg-color:#2E236C;
    --primary-color:#E49BFF;
    --secundary-color:#FEFAE0;
   --font: "Nunito Sans",sans-serif;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
}