@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&

:root{
    --background-color: hwb(0 0% 100%);
    --secundary-color: #1100ff;
    --text-color: #ff0000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: var(--background-color);
    font-family: "Nunito Sans";
    font-size: 20px;
    color: var(--text-color);
}

.relatorio{
    text-align: center;
    padding-top: 20px;
}

header{
    padding-bottom: 20px;
}

header, footer{
    background-color: var(--secundary-color);
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link{
    font-weight: 400;
    font-size: 1rem;
    margin-left: 30px;
    margin-top: 20px;
}

main{
    height: 10vh;
}

footer{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}